{% extends 'LouvreReservationBundle:Reservation:layout.html.twig' %}

{% block title %}- Confirmation{% endblock %}

{% block content %}
		<div class="container">

			<div class="row row-bordered">
				<div class="container-small">
					<h1 class="text-center">Paiement</h1>
					<p class="text-center">
						Donnez les informations concernant votre carte bleue afin de procéder au paiement.
					</p>
				</div>
			</div><!-- head row -->

			<div class="row">
				{% if app.session.flashbag.has('success') %}
					{% for flashMessage in app.session.flashbag.get('success') %}
						<p class="alert alert-success">
							{{ flashMessage }}
						</p>
					{% endfor %}
				{% elseif app.session.flashbag.has('error') %}
					{% for flashMessage in app.session.flashbag.get('error') %}
						<p class="alert alert-danger">
							{{ flashMessage }}
						</p>
					{% endfor %}				
				{% endif %}
			</div>

			<div id="wrapper">
		        <div id="container" class="stripe-container">
		            <div id="welcome">
		                <h1><span>Le musée du Louvre</span> Méthode de paiement</h1>
		            </div>

		            <div id="status">
		                <p>
		                    <svg id="icon-status" width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="<a href="<a href="URL_3WORG/2000/svg"><a href="<a href="URL_3WORG/2000/svg">URL_3WORG/2000/svg</a>"><a href="URL_3WORG/2000/svg">URL_3WORG.org/2000/svg</a></a></a>"><a href="URL_3WORG/2000/svg"><a href="URL_3WORG/2000/svg"><a href="URL_3WORG/2000/svg">URL_3WORG/2000/svg</a></a></a></a>"><path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#759E1A"></path></svg>

		                    Veuillez patienter pendant le chargement du module de paiement Stripe. Cela peut prendre quelques instants.
		                    <form action="{{ path('louvre_reservation_checkout') }}" method="POST">
		                        <script
		                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		                                data-key="pk_test_cB07gWTou2UP0MhIJQnhN8jI"
		                                data-amount="{{ app.session.get('totalPrice') * 100 }}"
		                                data-name="louvre-stripe"
		                                data-description="Widget"
		                                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
		                                data-locale="auto"
		                                data-zip-code="true"
		                                data-currency="eur">
		                        </script>
		                    </form>
		                </p>
		            </div>
		        </div>
		    </div>

		</div><!-- container -->
{% endblock %}
