{% extends 'LouvreReservationBundle:Reservation:layout.html.twig' %}

{% block title %}- Confirmation{% endblock %}

{% block content %}
		<div class="container">

			<div class="row row-bordered">
				<div class="container-small">
					<h1 class="text-center">Paiement</h1>
					<p class="text-center">
						Donnez les informations concernant votre carte bleue afin de procéder au paiement.
					</p>
				</div>
			</div><!-- head row -->

		</div><!-- container -->
{% endblock %}