{% extends 'LouvreReservationBundle:Reservation:layout.html.twig' %}

{% block title %}- Informations{% endblock %}

{% block content %}
		<div class="container">
			<div class="row row-bordered">
				<div class="container-small">
					<h1 class="text-center">Informations</h1>
					<p class="text-center">
						Entrez l'adresse e-mail sur laquelle vous souhaitez recevoir une copie de vos billets.<br>
						Puis donnez les informations de la personne à qui appartiendra le billet.<br>
						Cliquez sur "ajouter un billet" pour acheter plusieurs billets.
					</p>
				</div>
			</div><!-- head row -->

		</div><!-- container -->
{% endblock %}