/*
	FILE Louvre_ticketing/web/css/main.css

	===================================================

	Main style definition for Louvre_ticketing application
*/

/* Style definitions of application main elements */

div.ui-datepicker
{
	font-size: 2.5em;
}

select.ui-datepicker-month, select.ui-datepicker-year
{
	color: #000000;
}

h1
{
	margin-bottom: 20px;
}

input[type="text"]:-moz-read-only { /* For Firefox */
    background-color: #FFFFFF;
    cursor: pointer;
}

input[type="text"]:read-only { 
    background-color: #FFFFFF;
    cursor: pointer;
}

.row-bordered
{
	border-bottom: solid 1px #222222;
	margin-bottom: 50px;
	padding-bottom: 20px;
}

.container-small
{
	margin: auto;
	width : 80%;
}

.starter-link
{
	background-color: #c9ac00;
	color : #ffffff;
	font-size : 1.5em;
	margin-top : 150px;
	line-height: 80px;
	text-decoration : none;
}

.starter-link:hover, .starter-link:focus
{
	background-color: #b99e00;
	color: #ffffff;
	text-decoration: none;
}

.starter-link img
{
	margin-right : 20px;
	width : 8%;
}

/* Style definitions of application calendar page */

.datepicker-center
{
	text-align: center;
}

.datepicker-center #datepicker
{
	display: inline-block;
}

.datepicker-submit
{
	background-color: #c9ac00;
	border: none;
	border-radius: 0;
	color: #ffffff;
	display: inline-block;
	font-size: 2em;
	margin-right: -4px;
	padding: 20px 0 20px 30px;
	width: 25%;	
}

.datepicker-submit:hover, .datepicker-submit:focus
{
	background-color: #b99e00;
	color: #ffffff;
}

.datepicker-submit:disabled
{
	background-color: #897500;	
}

.full-day
{
	background-image: url('../images/chronometer.png');
	background-size: 15%;
	background-position: 24% 50%;
	background-repeat: no-repeat;
}

.half-day
{
	background-image: url('../images/half-an-hour.png');
	background-size: 15%;
	background-position: 10% 50%;
	background-repeat: no-repeat;
}

/*.datepicker-center button[type="submit"]
{

}

.datepicker-center button[type="submit"] img
{
	width: 15%;
}

.datepicker-center button[type="submit"]:hover, .datepicker-center button[type="submit"]:focus
{

}

.datepicker-center button[type="submit"]:disabled
{

}*/

.ui-datepicker-header a:hover
{
	background-color: transparent;
	border: none;
	cursor: pointer;
}

/* Style definitions of application ticketing page */

.h2-container-center
{
	margin-bottom: 40px;
	text-align: center;
}

.reduction-price-checkbox label
{
	font-weight: normal;
}

.ticketing-center
{	
	display: table;
	margin: auto;
	margin-bottom: 20px;
	width: 80%;
}

.table-row
{
	display: table-row;
	line-height: 40px
}

.ticketing-submit-container
{
	text-align: center;
	margin-top: 70px;
}

.ticketing-submit
{
	background-color: #c9ac00;
	background-image: url('../images/shopping-basket.png');
	background-size: 12%;
	background-position: 8% 50%;
	background-repeat: no-repeat;
	border: none;
	border-radius: 0;
	color: #ffffff;
	font-size: 1.7em;
	margin-right: -4px;
	padding: 20px 20px 20px 80px;
}

.ticketing-submit:hover, .ticketing-submit:focus
{
	background-color: #b99e00;
	color: #ffffff;
}