/*
	FILE Louvre_ticketing/web/css/main.css

	===================================================

	Main style definition for Louvre_ticketing application
*/

/* Style definitions of application main elements */

h1
{
	margin-bottom: 20px;
}

.row-bordered
{
	border-bottom: solid 1px #222222;
	margin-bottom: 50px;
	padding-bottom: 20px;
}

.container-small
{
	margin: auto;
	width : 80%;
}

.starter-link
{
	background-color: #c9ac00;
	color : #ffffff;
	font-size : 1.5em;
	margin-top : 150px;
	line-height: 80px;
	text-decoration : none;
}

.starter-link:hover, .starter-link:focus
{
	background-color: #b99e00;
	color: #ffffff;
	text-decoration: none;
}

.starter-link img
{
	margin-right : 20px;
	width : 8%;
}

/* Style definitions of application calendar page */

.datepicker-center
{
	text-align: center;
}

.datepicker-center #datepicker
{
	display: inline-block;
	font-size: 2.5em;
}

.datepicker-center button[type="submit"]
{
	background-color: #c9ac00;
	border: none;
	border-radius: 0;
	color: #ffffff;
	display: inline-block;
	font-size: 2em;
	margin-right: -4px;
	padding: 10px 0 10px 0;
	width: 25%;
}

.datepicker-center button[type="submit"] img
{
	width: 15%;
}

.datepicker-center button[type="submit"]:hover, .datepicker-center button[type="submit"]:focus
{
	background-color: #b99e00;
	color: #ffffff;
}

.datepicker-center button[type="submit"]:disabled
{
	background-color: #897500;
}

.ui-datepicker-header a:hover
{
	background-color: transparent;
	border: none;
	cursor: pointer;
}